$fontcolor:  rgb(10%, 10%, 10%);
$backgroundcolor: rgb(98%, 98%, 98%);


body {
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  background-color: $backgroundcolor;
  margin: 50px;
}


#search-bar {
  margin-bottom: 20px;

  input {
    font-size: 1.5em;
    border-radius: .25em;
  }
}


.active {
  color: pink;
}

.chessContainer {
  position: relative;
  width: 500px;
  height: 500px;
}

.mainBackground {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #1E304C;

  justify-content: flex-start;
}

.mainContainerTop{
  position: relative;
  width: 100%;
  height: 120px;
  background-color: #FEF5ED;
}

.mainContainerBot{
  position: relative;
  width: 100%;
  height: 800px;
  background-color: #1E304C;
}

.topComponentMain {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  display: flex;
  align-items: center;
}

.connectionComponent {
  width: 320px;
  height: 80px;
  background-color: red;
}

.topcInput {
  width: 120px;
}

.chessBoard{
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.chessTile {
  position: relative;
  height: 12.5%;
  width: 12.5%;
  padding: 0;
  margin: 0;
}
